#footer-component {
    height: 80px;
    width: 100%;
    background-color: white;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#settings-button img, #maps-button img, #timeline-button img {
    height: 40px;
    width: 40px;
    opacity: 0.5;
}

@media screen and (min-width: 600px) {
    #footer-component {
        display: none;
    }
}