.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 30% 40%;
}

.logoContainer {
    background-color: white;
    width: 100vw;
    align-items: center;
}

  #logoImg{
    width: 350px;
    margin: auto;
    display: block;
  }

  .login-form {
    grid-row: 3 / 4;
    margin: auto;
    width: 60%;
  }

  input{
    margin: auto;
  }

  .login-form > div {
    text-align: center;
  }

@media only screen and (min-width: 700px) {
  .container {
    display: grid;
    height:100vh;
    grid-template-rows: 20% 2% 78%;
  }

  .logoContainer {
    background-color: white;
    width: 100vw;
    align-items: center;
  }

  #logoImg{
    width: 300px;
    margin: auto;
    display: block;
  }

  .login-form {
    grid-row: 2 / 4;
    margin: auto;
    width: 60%;
  }

  input{
    margin: auto;
  }

  .login-form > div {
    text-align: center;
  }
}