@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20vh 10vh 30vh;
}

.logoContainer {
    background-color: white;
    width: 100vw;
    align-items: center;
}

  #logoImg{
    width: 350px;
    margin: auto;
    display: block;
  }

  .login-form {
    grid-row: 3 / 4;
    margin: auto;
    width: 100vw;
  }

  input{
    margin: auto;
  }

  .login-form > div {
    text-align: center;
  }

  .buttonsContainer {
    grid-row: 4 / 5;
    background-image: url(public\img\background.jpg);
  }

  .errors {
    text-align: center;
    display: block;
    margin: auto;
  }
  
@media only screen and (min-width: 700px) {
  .container {
    display: grid;
    height:100vh;
    grid-template-rows: 20vh 10vh 30vh;
  }

  .logoContainer {
    background-color: white;
    width: 100vw;
    align-items: center;
  }

  #logoImg{
    width: 350px;
    margin: auto;
    display: block;
  }

  .login-form {
    grid-row: 3 / 4;
    margin: auto;
    width: 60%;
  }

  input{
    margin: auto;
  }

  .login-form > div {
    text-align: center;
  }
}