.post-container {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    cursor: pointer;
    color: #4E4E4E;
    background-color: #cbd5dd9a;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

.post-container:hover {
    background-color: #cbd5dd;
}

.container {
  display: none;
}