#navbar-component {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-desktop-links {
    
    height: 100px;
    width: 500px;
    display: none;
    align-items: center;
    margin-left: 20px;
    
}

#navbar-desktop-links img {
    width: 200px;
    height: 75px;
    
}

#navbar-desktop-links a {
    text-decoration: none;
    margin-left: 30px;
    margin-top: 10px;
    color: black;
    opacity: 0.5;
}

#navbar-desktop-links a:hover {
    opacity: 1;
}

#back-button {
    margin-left: 20px;
}

#back-button img {
    height: 45px;
    width: 45px;
    opacity: 0.5;
}

#user-avatar {
    margin-right: 20px;
    z-index: 50;
    cursor: pointer;
}

#user-avatar img {
    height: 60px;
    width: 60px;
}

#profile-menu {
    height: 200px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    transition: 0.5s;
    z-index: 1000;
}

#profile-menu.hidden {
    display: none;
}

#profile-menu a {
    width: 70%;
    border: black 1px solid;
    padding: 20px 20px;
    border-radius: 10px;
    
}

#logoHomeButton{
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    #back-button {
        display: none;
    }
    #navbar-desktop-links {
        display: flex;
    }
}