#navbar-component {
    height: 100px;
    width: 100%;
    background-color: white;
    border: black 1px dotted;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-button {
    margin-left: 20px;
}

#back-button img {
    height: 50px;
    width: 50px;
}

#user-avatar {
    margin-right: 20px;
    z-index: 50;
}

#user-avatar img {
    height: 60px;
    width: 60px;
}

#profile-menu {
    height: 200px;
    width: 150px;
    border: black solid 1px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
}

#profile-menu a {
    width: 70%;
    
}