/* ---- Universal Selectors ---- */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* ---- Page Sizing ---- */
body {
  min-width: 400px;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
}

/* ---- Content window ---- */
#content {
  min-height: 500px;
  height: calc(100vh - 180px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}