/* ----import font---- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---- Universal Selectors ---- */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* ---- Page Sizing ---- */
body {
  min-width: 400px;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
}

/* ---- Content window ---- */
#content {
  min-height: 500px;
  height: calc(100vh - 180px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#avatar {
  max-width: 140px;
  clip-path: circle(40% at center);
}

#profile-info {
  text-align: center;
  font-size: 1.4em;
}

.input-field {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 10px auto auto auto;
  line-height: 30px;
}

.input-field input {
  height: 30px;
  border-radius: 5px;
  border: #69869D 1px solid;
}

#avatar-upload {
  border: #69869D 2px solid;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: fit-content;
}