<!DOCTYPE html>
<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div id="footer-component">
    <link rel="stylesheet" href="/css/footer.css">
    <a href="/home" id="settings-button">
        <span class="material-symbols-outlined">home</span>
    </a>

    <a href="/map" id="maps-button">
        <span class="material-symbols-outlined">map</span>
    </a>

    <a href="/timeline" id="timeline-button">
        <span class="material-symbols-outlined">forum</span>
    </a>

</div>