<div id="navbar-component">
    <link rel="stylesheet" href="./css/navbar.css">

    <div id="navbar-desktop-links">
        <img src="./img/logo/logo.jpg" alt="logo">
        <a href="/map">Map</a>
        <a href="/timeline">Timeline</a>
        <a href="/settings">Settings</a>
    </div>

    <div id="back-button">
        <img src="./img/icons/left-arrow.png" alt="back">
    </div>

    <div id="user-avatar">
        <img src="/img/icons/user.png" alt="user avatar">
    </div>

</div>

<div id="profile-menu">
    <a href="/profile">Edit profile</a>
    <a href="/logout">Logout</a>
</div>

