<!-- <style>
    #navbar-component {
        height: 100px;
        width: 100%;
        background-color: white;
        border: black 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #back-button img {
        height: 50px;
        width: 50px;
    }

    #user-avatar img {
        height: 50px;
        width: 50px;
    }


</style> -->

<div id="navbar-component">
    <link rel="stylesheet" href="./css/navbar.css">

    <div id="back-button">
        <img src="./img/icons/left-arrow.png" alt="back">
    </div>

    <div id="user-avatar">
        <img src="/img/icons/user.png" alt="user avatar">
    </div>

</div>

