<!DOCTYPE html>
<div id="navbar-component">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <div id="navbar-desktop-links">
        <img src="/img/logo/logo.jpg" alt="logo" id="logoHomeButton">
        <a href="/map" class="navlink">Map</a>
        <a href="/timeline" class="navlink">Timeline</a>
        <a href="/coolzone" class="navlink">New Coolzone</a>
        <a href="/mycoolzones" class="navlink">My Coolzones</a>
    </div>

    <div id="back-button">
        <img src="/img/icons/left-arrow.png" alt="back" onclick="history.back()">
    </div>

    <h3 id="current-page">Page</h3>

    <div id="user-avatar">
        <div>
            <span id="user-displayName">Username</span><br />
            <span id="user-email">Email</span>
        </div>
        <img src="/img/userAvatars/default.png" id="avatar-icon" alt="user avatar">
    </div>

</div>

<div id="profile-menu">
    <a class="extra-links" href="/coolzone">New Coolzone</a>
    <a class="extra-links" href="#">My Coolzones</a>
    <a href="/profile">Edit profile</a>
    <a href="/logout">Logout</a>
</div>